<!-- <app-template-full-width></app-template-full-width> -->
<!-- <app-template-full-width titreAttribut="{{titrePage}}"> -->
<app-template-full-width *ngIf="collection$ | async as collection" [titreAttribut]="titrePage">
    <app-table-light [headers]="headers">
        <tr *ngFor="let item of collection">
            <td> {{ item.client }} </td>
            <td> {{ item.tjmHt | currency }} </td>
            <td> {{ item.nbJours }} </td>
            <td> {{ item.tva }}%</td>
            <td> {{ item | total | currency }} </td>
            <td> {{ item | total : true | currency }} </td>
            <td> {{ item.typePresta }} </td>
            <!-- <td [ngClass]="{
                'state-canceled': item.state === 'CANCELED',
                'state-option': item.state === 'OPTION',
                'state-confirmed': item.state === 'CONFIRMED'}"> -->
            <td [appState]="item.state">
                <select (change)="onChangeUpdateState(item, $event)">
                    <option 
                        *ngFor="let state of stateOrder | keyvalue"
                        [value]="state.value"
                        [selected]="state.value === item.state"
                    >{{ state.value }}</option>
                </select>
            </td>
        </tr>
    </app-table-light>
    <app-btn></app-btn>
</app-template-full-width>

<!-- <table>
    <tbody>
        <tr *ngFor="let item of collection">
            <td *ngFor="let val of item | keyvalue">{{val.value}}</td>
        </tr>
    </tbody>
</table> -->
