<app-ui>
  <app-header class="tr-header"></app-header>
  <app-icon-close class="tr-nav-button-close"></app-icon-close>
  <app-icon-nav class="tr-nav-button-nav"></app-icon-nav>
  <app-icon-close class="tr-button-close"></app-icon-close>
  <app-icon-nav class="tr-button-nav"></app-icon-nav>
  <app-icon-edit class="tr-button-edit"></app-icon-edit>
  <app-icon-delete class="tr-button-delete"></app-icon-delete>
  <app-nav class="tr-nav"></app-nav>
  <div class="tr-content"> Lorem ipsum </div>
  <app-footer class="tr-footer"></app-footer>
</app-ui>
