<!-- <h2> {{ title }} </h2>
<div class="content">
  <span>angular-crm-novembre-atos app is running!</span>
</div> -->
<app-ui>
  <app-header class="tr-header"></app-header>
  <!-- <div class="tr-header autre-classe"> Je suis une div toute seule....</div> -->
  <button class="tr-button">open/close</button>
  <app-nav class="tr-nav"></app-nav>
  <div class="tr-content">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt inventore, odit perspiciatis, facilis aspernatur blanditiis voluptates aliquam ab odio soluta cumque mollitia ipsam animi quam velit? Dolorum asperiores provident dolores.
  </div>
  <app-footer class="tr-footer"></app-footer>
</app-ui>
