<header class="fixed-top">
  <span (click)="toggleNav()" class="nav-button-container">
    <ng-container *ngIf="isClosed; then templateClosed else templateOpened"></ng-container>
    <ng-template #templateClosed>
      <ng-content select=".tr-nav-button-nav"></ng-content>
    </ng-template>
    <ng-template #templateOpened>
      <ng-content select=".tr-nav-button-close"></ng-content>
    </ng-template>
  </span>

  Header
  <ng-content select=".tr-header"></ng-content>
</header>
<main [ngClass]="{ 'close-aside': isClosed }">
  <div class="shadow position-fixed">
  </div>
  <aside>
    <div class="scroller">
      Nav
      <ng-content select=".tr-nav"></ng-content>
    </div>
  </aside>
  <div class="page">
    <div class="contents">
      Content
    </div>
    <footer>
      Footer
      <ng-content select=".tr-footer"></ng-content>

      <span class="button" (click)="increment()">+1</span>

      <ng-container [ngSwitch]="iconIncrement">
        <ng-content *ngSwitchCase="0" select=".tr-button-nav"></ng-content>
        <ng-content *ngSwitchCase="1" select=".tr-button-delete"></ng-content>
        <ng-content *ngSwitchCase="2" select=".tr-button-edit"></ng-content>
        <ng-content *ngSwitchCase="3" select=".tr-button-close"></ng-content>
        <ng-content *ngSwitchDefault select=".tr-button-nav"></ng-content>
      </ng-container>

    </footer>
  </div>
</main>
