<header class="fixed-top">
    Header
    <ng-content select=".tr-header"></ng-content>
    <!-- <ng-content select=".autre-classe"></ng-content> -->
    <!-- <button (click)="toggle()" >open/close</button> -->
    <span (click)="toggle()">
        <!-- V1 on charge tout les éléments 1 première fois -->
        <!-- <ng-content *ngIf="open" select=".tr-button-close"></ng-content>
            <ng-content *ngIf="!open" select=".tr-button-nav"></ng-content> -->
            
        <!-- V2 on charge le 1er élément et on le retire si open est false -->
        <!-- <ng-content *ngIf="open; else otherBlock" select=".tr-button-close"></ng-content>
            <ng-template #otherBlock>
                <ng-content select=".tr-button-nav"></ng-content>
            </ng-template> -->
            
        <!-- Version final on charge seulement l'élément nécessaire -->
        <ng-container *ngIf="open;then firstBlock else otherBlock"></ng-container>
        
        <ng-template #firstBlock>
            <ng-content select=".tr-button-close"></ng-content>
        </ng-template>

        <ng-template #otherBlock>
            <ng-content select=".tr-button-nav"></ng-content>
        </ng-template>
    </span>

    <!-- <span *ngIf="open">
        Ouvert
    </span> -->
</header>
<!-- ajouter ou enlever la class close-aside -->
<main [ngClass]="{'close-aside' : !open}">

    <div class="shadow position-fixed">
    </div>
    <aside>
        <div class="scroller">
            Nav
            <ng-content select=".tr-nav"></ng-content>
        </div>
    </aside>
    <div class="page">
        <div class="contents">
            Content
        </div>
        <footer>
            Footer
            <ng-content select=".tr-footer"></ng-content>
        <!-- 
            ng switch case
            0 icon-nav
            1 icon-delete
            2 icon-edit
            3 icon-close
            Experimention tp ngSwitchCase
         -->
        <!-- <button (click)="increment()">Increment !</button>
        <ng-container [ngSwitch]="cpt">
            <ng-content *ngSwitchCase="0" select=".tr-nav2"></ng-content>
            <ng-content *ngSwitchCase="1" select=".tr-close2"></ng-content>
            <ng-content *ngSwitchCase="2" select=".tr-delete"></ng-content>
            <ng-content *ngSwitchCase="3" select=".tr-edit"></ng-content>
        </ng-container> -->

        </footer>
    </div>
</main>
<!-- (click)="methode()" -->